.cover-quote,
.blockquote.cover-quote {
  border-left: none; }
  .cover-quote.blockquote-reverse,
  .blockquote.cover-quote.blockquote-reverse {
    border-right: none; }

.cover-iframe {
  border: 0 none; }
